<!DOCTYPE html>
<script src="/assets/jquery.js"></script>
<script src="/assets/socket.io.js"></script>

<style>
    .btnr, .btnv, .btna {
        padding: 20px 40px;
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
        background: white;
        display: block;
        justify-content: space-between;
        right: 20%;
    }
    
    .rojo {
        background: red;
    }
    .verde {
        background: green;
    }
    .amarillo {
        background: yellow;
    }
</style>

<button class = "btnr">rojo</button>
<br>
<button class = "btnv">verde</button>
<br>
<button class = "btna">amarillo</button>

<script>
   var btnr = $(".btnr")
   var btnv = $(".btnv")
   var btna = $(".btna")
   var send_content = $('click')

btnr.on("click", function(){
    btnr.toggleClass("rojo")
    console.log("primero")
});

 //$ (".btnr").click(function() {
 //    $(".btnr").toggleClass("rojo");
 //    console.log("click XD")
 //});

 $ (".btnv").click(function() {
     $(".btnv").toggleClass("verde");
     console.log("click XC")
 });

 $ (".btna").click(function() {
     $(".btna").toggleClass("amarillo");
     console.log("click X/")
 });

    var socket = io.connect(window.location.host);
    socket.on('connect', function() {
        console.log('connect');
    });

    socket.on('cambia', function(tarjetas) {
        if (!tarjetas.name || !tarjetas.color) return
        btnr.append('.btnr')   
        
    });


    send_content.on("click", function(){
      socket.emit("cambia", {
          ".btnr" : $(".rojo").val(),
        });
      console.log('esto q');
       
        $.post("http://localhost:3001/api/tarjetas",{
        ".rojo" : $(".btnr").val(),
        
        });

     send_content.val('');
    });
    

</script>
