<!DOCTYPE html>
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <title>Chat</title>
    <style src='/views/style.css'></style>
    <div class="container">
            <h2 style="text-align:center">Chat-box Created By Isaac</h2>
        <p style="text-align:center">Isaac Zuniga</p>
        <hr>
        <div class="row">
            <div class="chatbox chatbox22 chatbox--tray">
        <div class="chatbox__title">
            <h5><a href="javascript:void()">Leave a message</a></h5>
            <!--<button class="chatbox__title__tray">
                <span></span>
            </button>-->
            <button class="chatbox__title__close">
                <span>
                    <svg viewBox="0 0 12 12" width="12px" height="12px">
                        <line stroke="#FFFFFF" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                        <line stroke="#FFFFFF" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
                    </svg>
                </span>
            </button>
        </div>
        <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm chat_set_height" placeholder="Type your message here..." tabindex="0" dir="ltr" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" contenteditable="true" />
                    
                    <span class="input-group-btn">
                        <button class="btn bt_bg btn-sm" id="btn-chat">
                            Send</button>
                    </span>
                </div>
            </div>

            <div class="chatbox__body">

                         
                 
</html>