<% include reutilizable/_header %>

<div class="container">
  <div class="row" >
        <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/Actualizar/<%= task._id %>" method="POST">
                            <div class="from-group">
                                <input type="text" name="Nombre" placeholder="Inserte un Nombre" class="from-group" value="<%= 
                                task.Nombre%>">
                               </div>
                               <div class="form-group">
                                <textarea name="Apellido"  placeholder="Inserte un Apellido" class="form-group"><%= 
                                    task.Apellido%></textarea>
                            </div>
                            <div>
                                <input type="text" name="Edad" placeholder="Inserte su Edad" class="from-group" value="<%= 
                                task.Edad%>">
                             </div>
                            <button type="submit" class="btn btn-primary">Actualizar
                            </button>
                        </form>
                    </div>
                </div>
              </div>  
  </div>  
</div>
<% include reutilizable/_fooder %>