<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usarios</title>
</head>
<body>
        <table id="data_table">
            <thead>
            <tbody id="data">
            </tbody>
        </table>
        <div id="data">
            <table>
                <tr>
                    <td>Customer Name</td>
                    <td>Address</td>
                    <td>Phone</td>
                </tr>
                <tr>
                    <td><input id="name" type="text" value=""></td>
                    <td><input id="address" type="text" value=""></td>
                    <td><input id="phone" type="text" value=""></td>
                    <td><button class="save_edit">Save</button></td>
                </tr>
            </table>
        </div>
        <script src="/assets/jquery.js"></script>
        <script src="/assets/socket.io.js"></script>
        <script src="/assets/script.js"></script>
    </body>
</html>

