<style>
#banner-message {
  background: #ccc;
  border-radius: 4px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 300px;
}

button {
  background: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #000;
  width: 80px;
  height: 80px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.black {
  background: #000;
}

.blue {
  background: blue;
}
</style>

<div id="container">
    <!-- <button id="red" class="red"></button>
    <button id="green" class="green"></button>
    <button id="yellow" class="yellow"></button> -->
</div>



<script src="/assets/jquery.js"></script>
<script src="/assets/socket.io.js"></script>
<script>
// ==== SOCKET ====
// ==== SOCKET ====
// ==== SOCKET ====
// ==== SOCKET ====

var socket = io.connect(window.location.host);
socket.on('refresh_tarjeta', function(tarjeta) {
    $("#"+tarjeta._id).removeClass(tarjeta.name) 
    if(tarjeta.status == 1){
        $("#"+tarjeta._id).addClass(tarjeta.name) 
    }
});


// ==== LOAD TARJETAS ====
// ==== LOAD TARJETAS ====
// ==== LOAD TARJETAS ====
// ==== LOAD TARJETAS ====


let container = $("#container")

let update_tarjetas = function(btn){
    let new_status = (btn.attributes['status'].value == 1) ? 0 : 1
    // ^^ If en una sola línea representa lo siguiente:
    // if(status == 1){
    //     new_status = 0
    // }else{
    //     new_status = 1
    // }

    $("#"+btn.id).attr('status', new_status)
    let tarjeta = {
        '_id': btn.id,
        'status': new_status,
        'name': btn.name
    }
    $.ajax({
        url: 'http://'+ window.location.host +'/api/tarjeta/'+btn.id,
        type: 'PUT',
        data: tarjeta
    });
    socket.emit('tarjeta_clicked', tarjeta);
}


let load_tarjetas = function(url){
        $.get( url, function( data ) {
            container.empty()
            $.each( data.tarjetas, function( i, tarjeta ) {
                console.log(tarjeta)
                btn_class = (tarjeta.status == 1) ? tarjeta.name : ''
                container.append(`
                    <button id="`+tarjeta._id+`" status="`+ tarjeta.status +`" name="`+ tarjeta.name +`" class="`+btn_class+`"></button>
                `)
            })
            reassign_events()
        })
    }


let reassign_events = function(){
    let button = $(":button")
    button.on("click", function(e){
        let btn = e.target
        update_tarjetas(btn)
    })
}

load_tarjetas('http://'+ window.location.host +'/api/tarjeta')


</script>