<!DOCTYPE html>
<html>
<head>
    <title>Examen 2</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>

    <table id="data_table">
        <thead>
        <tbody id="data">
        </tbody>
    </table>
    <div id="editor">
        <table>
            <tr>
                <td>Customer Name</td>
                <td>Address</td>
                <td>Phone</td>
            </tr>
            <tr>
                <td><input id="name" type="text" value=""></td>
                <td><input id="address" type="text" value=""></td>
                <td><input id="phone" type="text" value=""></td>
                <td><button class="save_edit">Save</button></td>
            </tr>
        </table>
    </div>


    <script src="/assets/jquery.js"></script>
    <script src="/assets/socket.io.js"></script>
    <script src="/assets/script.js"></script>
</body>
</html>
